<! DOCTYPE html>
<html lang="en-GB">
<head>
	{% include head.html %} 
	<meta http-equiv="Refresh" content="4; url='https://brightspace.algonquincollege.com/d2l/home/548351'" />
</head>
<body>
<div id="grid">
	<div id="top-nav">
&nbsp;
	</div>
	<div id="site-id">
		<a href="{{ site.url }}/index.html" class="site-id" tabindex="0">Type</a>
	</div>
	<div id="course-info1">{% include course-info1.html %}</div>
	<div id="course-info2">{% include course-info2.html %}</div>
	<div id="content" role="main">
	<h1>We've Moved!</h1>
	<div class="deck">
	{{ page.deck }}
	</div>
	The content for the Type 3 and Type 4 courses has been migrated to Brightspace. You are being redirected there now.

	If the redirection doesn't proceed, please click to go to Brightspace.
	
	<h2><a href="https://brightspace.algonquincollege.com/d2l/home/548351" title="Go to Brightspace">Go to Brightspace</a></h2>
	
	</div>
	{% include footer.html %}
</body>
</html>